a.lcms-tool-news {
	background-image: url(news.png);
}

table.lcms-news-form {
	font-size: 10pt;
	width: 100%;
	border-bottom: 1px dashed #EEE;
}

select.lcms-news-post-status {
	font-size: 12px;
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}