body {
	background: url(images/bg.png) #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	text-align: center;
}

a {
	color: #26c1fd;
	text-decoration: none;
}

#brand {
	background: url(images/plexcms.png) no-repeat top left;
	margin: 0 auto;
	width: 200px;
	height: 80px;
	font-size: 30pt;
	padding-top: 20px;
	text-align: left;
	padding-left: 100px;
	text-shadow: 0 2px 1px rgba(255,255,255,1);
	color: rgba(0,0,0,0.5);
}

#lcms-container {
	
	border-radius: 10px;	
	margin: 0 auto; 
	width: 800px; 
	text-align: left; 
	background: #fff; 
	padding: 15px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.5);
	min-height: 400px;
}

h1 {
    font-size: 15pt;
    color: #333;
    font-weight: bold;
}

div.header {
    background: url(images/lcms-controller-bg.png) repeat-x;
    padding: 10px 5px 6px 5px;
    color: #FFF;
    font-size: 10pt;
    height: 20px;
    border-radius: 10px;	
}

div.header a {
    color: #FFF;
    font-family: "Lucida Sans", "Lucida Grande", tahoma,sans-serif;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    margin: 0 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 10pt;
    font-family: Arial, Helvetica, tahoma, sans-serif;
    border: 1px solid #DDD;
    margin: 10px 0;
}

thead {
    background: #eee;
}

table td, table th {
    padding: 3px;
}


p.footer {
	margin-top: 50px;
	font-size: 8pt;
}

sup {
	background: red;
	border-radius: 5px;
	padding: 1px 2px;
	color: #FFF;
}