

form.lcms-form {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100pt;

	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	z-index: 1000;
	border-radius: 5px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.7);
}

form.lcms-form fieldset {
	border: 1px solid #CCC;
	background: #EEE;
	padding: 10px 15px 20px 15px;
	margin: -4px 0 0 0;
	-moz-border-radius-bottomleft: 5px; 
	-webkit-border-bottom-left-radius: 5px; 
	-moz-border-radius-bottomright: 5px; 
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

form.lcms-form legend {
	color: #FFF;
	background: #333;
	padding: 5px 10px 5px 10px;
	font-size: 11pt;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

form.lcms-form h3 {
	margin: 0;
	padding: 10px 10px;
	text-align: left;
	background: url(images/lcms-controller-bg.png) repeat-x;
	color: #FFF;
	font-size: 12pt;
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	-moz-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

form.lcms-form label {
	font-weight: bold;
	display: block;
	padding: 5px 5px;
}

form.lcms-horizontal label {
	display: block;
	float: left;
	margin-right: 10px;
}

form.lcms-horizontal br {
	clear: both;
}

form.lcms-form br.lcms-clear {
	clear: both;
}

form.lcms-form hr {
	clear: both;
	border: none;
	background-color: #CCC;
	height: 1px;
	margin: 15px 0 10px 0;
	width: 99%;
}

form.lcms-form div.lcms-double {
	width: 50%;
	float: left;
}

form.lcms-form div.lcms-triple {
	width: 33%;
	float: left;
}

form.lcms-form .lcms-block {
	width: 98%;
}

form.lcms-form div.lcms-double .lcms-block {
	width: 95%;
}

form.lcms-form .lcms-half-block {
	width: 50%;
}

form.lcms-form textarea {
	height: 50px;
}

form.lcms-form p.lcms-hint {
	font-size: 10px;
	margin: 2px 0 10px 0;
	padding: 0;
	font-style: italic;
	color: #555;
}






