body {
	background: url(images/bg.png) #FFF;
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

#lcms-container {
	margin: 0 auto;
	width: 300px;
	text-align: left;
	padding-top: 50px;	
}

a {
	color: #26c1fd;
	text-decoration: none;
}