table.lcms-revisions-table {
	font-size: 10pt !important;
	border-collapse: collapse;
	width: 100%;
	color: #555 !important;
}

table.lcms-revisions-table th {
	background: #555 !important;
	color: #FFF !important;
	padding: 3px !important;
	border-top: 1px solid #888 !important;
	border-bottom: 1px solid #222 !important;
	border-right: 1px solid #666 !important;

}


table.lcms-revisions-table td {

	padding: 3px !important;
	border-bottom: 1px solid #EEE !important;


}


table.lcms-revisions-table tbody tr:hover {
	background: #EEE;
	cursor: pointer !important;
}

table.lcms-revisions-table tbody tr.current {
	background: #4274d4 !important;
	color: #FFF !important;
}