body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

h1 {
	background: #ddd;
}

#editor-canvas {
	height: 400px;
	width: 800px;
	border: 2px solid #CCC;
	padding: 10px;
}

#controls { 
	position: absolute; width: 260px; padding: 0.5em;
}
#controls h3 { 
	text-align: center; 
	margin: 0 0 10px 0; 
}



#editor-canvas {
	margin: 0;
	padding: 10px;
	width: 800px;
	height: 400px;
	
}

#editor-canvas div.row {
	border-top: 1px solid #DDF;
	border-bottom: 1px solid #DDF;
}

#editor-canvas div.row:hover {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#editor-canvas div.current {
	border-top: 2px solid #CCF;
	border-bottom: 2px solid #CCF;
}

#editor-canvas div.current:hover {
	border-top: 2px solid #CCF;
	border-bottom: 2px solid #CCF;
}

#editor-canvas div.col {
	height: auto;
	border: 1px solid #DDF;
	width: 200px;
	z-index: 100;
	margin-top: 15px;
}

#editor-canvas div.col-left {
	float: left;
}

#editor-canvas div.col-right {
	float: right;
}

.auto-height {
	
}

div.properties {
	background: #DDF;
	border-bottom: 1px solid #CCF;
	font-size: 10px;
	position: absolute;
	display: none;
	color: #000;
}

div.properties input.section {
	width: 50px;
}

input.px {
	width: 40px;
	font-size: 10px;
}

select {
	font-size: 10px;
	width: 100px;
}

fieldset {
	border: 1px solid #CCC;
	font-size: 10px;
	text-align: left;
	padding: 0 5px;
}

legend {
	font-weight: bold;
}

hidden {
	display: none;
}
