
div.lcms-content-toolbar {
	vertical-align: middle !important;
	color: #FFF !important;
	font-size: 8pt !important;
	width: 32px !important;
	height: 0px !important;
	z-index: 2000 !important;
	float: right !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10pt !important;
}

div.lcms-content-toolbar a.lcms-btn {
	position: absolute !important;
	padding: 0px 4px !important;
	margin-top: 1px !important;
	text-align: center !important;
	width: 20px !important;
	height: 20px !important;
	font-size: 14pt !important;
	font-weight: bold !important;
	opacity: 0.5 !important;
	z-index: 300 !important;
}

div.lcms-content-toolbar a.lcms-btn:hover {
	opacity: 1;
}

div.lcms-content-toolbar {
	position: relative;
}


div.lcms-new-content {
	background: #333;
	padding: 10px 10px;
	width: 620px;
	text-align: left;
	display: none;
	position: fixed;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #999;
	z-index: 2000;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 10pt !important;


	box-shadow: 0 3px 10px black, 0 3px 5px #888 inset;	
	border: 1px #AAA outset !important;
	
	

}

div.lcms-new-content h3 {
	padding-left: 10px;
}

div.lcms-new-content a.lcms-content-type {
	background-color: #333;
	background-repeat:no-repeat;
	background-position: center top;
	margin: 10px;
	border: 1px solid #555;
	padding-bottom: 10px;
	padding-top: 70px;
	display: block;
	float: left;
	width: 80px;
	font-size: 10px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.lcms-new-content a.lcms-content-type:hover {
	background-color: #333;
	border: 1px solid #FFF;
}

h3.lcms-toolbar {
	color: #FFF;
	padding: 5px 0;
	margin: 5px 0 10px 0;
}




a.lcms-content-subnavigation {
	background: url(images/subnavigation.png) no-repeat center top;
	padding-top: 70px;
	display: block;
	float: left;
	width: 80px;
	font-size: 10px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}


a.lcms-content-news {
	background: url(images/news.png) no-repeat center top;
	padding-top: 70px;
	display: block;
	float: left;
	width: 80px;
	font-size: 10px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}




div.lcms-plaintext-form {

}

div.lcms-plaintext-form textarea, div.lcms-richtext-form textarea {
	border: 1px solid #DDD;
	width: 100%;
}

#lcms-file-sidebar {
	float: left;
	width: 200px;
	margin-right: 10px;
}

#lcms-file-sidebar form {
	height: 100px;
	background: #DDD;
	padding: 5px;
	
	border: 1px solid #CCC;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#lcms-file-sidebar a {
	margin-top: 10px;
}

#lcms-file-sidebar input.lcms-file-input {
	width: 180px;
}

#lcms-file-sidebar form p {
	font-size: 8pt;
	padding: 3px;
	margin: 0 0 6px 0;
	line-height: 150%;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#lcms-file-sidebar form p.lcms-file-msg {
	background: #72d272;
	color: #FFF;
}

#lcms-file-sidebar form p.lcms-file-emsg {
	background: #cd0000;
	color: #FFF;

}

#lcms-file-sidebar form p#lcms-file {
	line-height: 250%;
}

#lcms-file-list {
	float: left;
	width: 250px;
	margin-right: 10px;
}

#lcms-folder-list {
	float: left;
	width: 250px;
	margin-right: 10px;
}



#lcms-file-preview {
	width: auto;
	padding-left: 730px;
}

#lcms-file-manager-container {
	text-align: left;
	padding: 20px;
}

#lcms-fileman-container {
	position: fixed;
	top: 35px;
	left: 0px;
	min-width: 1000px;
	width: 100%;
	z-index: 10000;
	height: 400px;
	display: none;
	background: #EEE !important;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	font-size: 10pt;
}


#lcms-file-sidebar h4, #lcms-file-list h4, #lcms-file-preview h4 {
	margin-top: 0;
	padding-top: 0;
	overflow: hidden;

}

ul.lcms-file-category-list {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 0;
	margin: 5px 0 0 0;
	list-style: none;
	height: 200px;	
}

ul.lcms-file-category-list li {
	padding: 3px 7px 3px 24px;
	cursor: pointer;
	background: url(images/folder.gif) no-repeat 4px 2px;
	
}

ul.lcms-file-category-list li:hover {
	background: url(images/folder.gif) no-repeat 4px 2px #EEE;
}

ul.lcms-file-list, ul.lcms-folder-list {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	height: 325px;
	overflow-y: scroll;
}

ul.lcms-file-list li, ul.lcms-folder-list li {
	padding: 3px 7px;
	cursor: pointer;
}

ul.lcms-folder-list li {
	padding: 3px 7px 3px 24px;
	background-image: url(images/folder.gif);
	background-repeat: no-repeat;
	background-position: 4px 2px;
}

ul.lcms-file-list li:hover, ul.lcms-folder-list li:hover {
	background-color: #EEE;
}


ul.lcms-file-category-list li.lcms-current-file, ul.lcms-file-list li.lcms-current-file, ul.lcms-folder-list li.lcms-current-folder {
	background-color: #2493EA;
	color: #FFF;
}

div.lcms-file-image-container {
	text-align: center;
	height: 200px;
	border: 1px solid #DDD;
	margin-bottom: 10px;
	background: url(images/canvas.png);
	overflow: hidden;
}

#lcms-editor-pane {
	position: fixed;
	left: 0;
	top: 36px;
	width: 100%;
	padding: 0;
	z-index: 5000;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

form.lcms-pane-form {
	font-size: 9pt;
}


div.lcms-image-form {
	padding: 10px;
}

a.lcms-content-image {
	background-image: url(image.png);
}


div.lcms-file-preview-container, div.lcms-file-image-container {
	vertical-align: middle;
}

div.lcms-file-image-container img, div.lcms-file-preview-container img {
	vertical-align: middle;
	line-height: 200%;
	width: 100% !important;
}