body {
	background: no-repeat top center #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #777;
}

a, a:visited {
	color: #2a4681;
	text-decoration: none;
}

p {
	line-height: 150%;
}

h3 {
	font-weight: normal;
	font-size: 14pt;
	color: #333;
	margin: 2px 0 10px 0;
	padding: 0;
}

#container {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}


#header {
	padding: 10px 0 10px 0;
}

#header h1 {
	font-weight: normal;
	font-size: 35pt;
	margin: 10px 0 20px 0;
	padding: 0;
	text-shadow: 0 1px 0 #FFF;
}

#feature {

}

#right-feature {
	float: right;
	min-height: 100px;
	width: 295px;
	background: rgba(0,0,0,0.05);
	height: inherit;
	border-radius: 5px;
	padding: 10px;	
	line-height: 150%;
}

#left-feature {
	float: left;
	width: 630px;
	min-height: 100px;
}

#nav {
	padding-top: 0;
	height: 32px;
	background: #EEE;
	border-radius: 20px;
}

#nav ul {
	padding: 5px 8px;
	margin: 0;
	list-style: none;
}

#nav ul li {
	position: relative;
    display: block;
    float: left; 
	width: auto;
}

#nav ul li a, #nav ul li a:visited {
	display: block;
	float: left;
	color: #999;
	padding: 3px 10px;
	font-size: 10pt;
	font-weight: bold;
}

#nav ul li.current a {
	color: #000;
	background: #FFF;
	border-radius: 20px;
}

#nav ul li a:hover {
	
}

#page {
	margin-bottom: 20px;
	line-height: 150%;
}

div.onethird {
	width: 30%;
	float: left;
	border-right: 1px solid #DDD;
	height: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

div.onethird:last-child {
	border: none;
}

div.onethird div.placeholder {

}

div.twothird {
	width: 70%;
	float: right;
	line-height: 180%;
}

#sidebar {
	float: right;
	padding: 1px;
	width: 300px;
}

#content {
	padding: 1px;
	width: 600px;
	background: #FFF;
	
}

#footer {
	margin-top: 10px;
	color: #333;
	text-align: center;
	clear: both;
}

#footer table {
	text-align: left;
}

#footer table td {
	width: 20%;
	padding: 5px 10px;
	vertical-align: top;
}

#footer table td ul {
	margin: 0px;
	padding: 0;
	list-style: none;
}

#footer table td ul li {
	padding: 3px 0;
}

#footer table td a {
	color: #333;
}

br.clearboth {
	clear: both;
}

.no-border {
	border: none !important;
}

.border-right {
	border-right: 1px solid #DDD;	
}

ul.lcms-subpage {
	list-style: none !important;
	text-align: right;
	border-right: 1px solid #DDD;
	padding: 5px 0;
}

ul.lcms-subpage li {
	margin: 7px 0 7px 0;
}

ul.lcms-subpage li a {
	color: #999;
	font-size: 12pt;
	padding-right: 20px;
}

ul.lcms-subpage li.current a {
	color: #333;
	border-right: 10px solid #f16d55;
	padding-right: 10px;
}

div.lcms-news-entries h2 {
	margin: 5px 0;
	padding: 0;
}

div.lcms-news-entries h2 a {
	font-size: 16pt;
	font-weight: normal;
	color: #2a4681;
}

p.news-meta {
	font-size: 8pt;
	margin: 5px 0;
	padding: 0;
}

div.news-entry-image {
	width: 150px;
	float: left;
	text-align: center;
	padding-top: 10px;
}

img.news-entry-image {
	width: inherit;
}

div.news-text {
	padding-top: 10px;
}

br.news-clear {
	clear: left;
}

hr {
	border: none;
	border-top: 1px solid #DDD;
	border-collapse: collapse;
	margin-bottom: 20px;
}


ul.lcms-newsfeed-feeds {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

div.lcms-newsfeed-feature {
	float: left;
	width: 50px;
	margin-right: 10px;
	margin-top: 5px;
}

img.lcms-newsfeed-feature {
	width: inherit;
}

ul.lcms-newsfeed-feeds a {
	color: #2a4681 !important;
	font-size: 12pt;
}

ul.lcms-newsfeed-feeds li {
	margin-bottom: 20px;
}

p.lcms-newsfeed-date {
	margin: 5px 0;
	padding: 0;
	font-size: 8pt;
}

div.lcms-newsfeed-excerpt {
	
}


/* Cart Modifications */ 

#user-info {
	padding: 5px 10px;
	background: #EEE;
	border-radius: 0 0 20px 20px;
}

#cart-info {
	float: right;
	text-align: right;
	line-height: 150%;
}
