div.lcms-plexcart-container {
	margin-top: 10px;
}

div.lcms-plexcart-filter {
	float: left;
	margin-right: 20px;
	width: 200px;
	background: #F5F5F5;
	padding: 10px;
}

div.lcms-plexcart-filter ul {
	margin: 0;
	padding: 0;
	list-style: none !important;
}

div.lcms-plexcart-filter ul ul {
	margin-left: 15px;
}


div.lcms-plexcart-filter h4 {
	font-size: 12pt;
	margin: 0;
	padding: 10px 0;
}

div.lcms-plexcart-items {
	margin-left: 230px;
	padding-left: 10px;
}

div.lcms-plexcart-breadcrumb h3 {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
}

div.lcms-plexcart-searchbox {
	padding: 3px;
	float: right;
}

div.lcms-plexcart-item {
	width: 150px;
	float: left;
	margin: 0 10px 10px 10px;
	padding: 5px;
	height: 240px;
}

div.lcms-plexcart-item a {
	display: block;
	text-align:center !important;
	text-decoration:none;
	font-weight: normal;
	margin: 5px 0 0 0;
}

a.lcms-plexcart-item-title {
	height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	text-align: center;
}

div.lcms-plexcart-item a:hover {
	text-decoration:underline;
}


div.lcms-plexcart-image-container {
	height: 140px;
	text-align: center;
	overflow: hidden;
}

div.lcms-plexcart-variants-image-container {
	height: 35px;
}

div.lcms-plexcart-variants-image-container a {
	height: 25px;
	width: 25px;
	overflow: hidden;
	display: block;
	float: left;
	border: 1px solid #EEE;
	display: block;
	margin-right: 3px;
}

div.lcms-plexcart-variants-image-container img {
	height: 25px;
	width: auto !important;
}

div.lcms-plexcart-item img {
	width: 100%;
	display: none;
}


div.lcms-plexcart-price-holder {
	text-align: center;
}

span.price {
	font-weight: bold;
}

span.discount {
	text-decoration: line-through;
	color:red;
	font-size:11px;
}

div.lcms-plexcart-addtocart-holder {
	text-align: center;
}

button.lcms-plexcart-addtocart {
	margin-top: 5px;
	padding: 4px 4px;
	font-size: 10px;
}

input.lcms-plexcart-item-qty {
	width: 42px;
	font-size: 10px;
	text-align: center;
	padding: 3px 2px;
	border-radius: 5px;
	border: 1px solid #CCC;
	margin-top:4px;
}


div.lcms-plexcart-single-item {
	
}

div.lcms-plexcart-single-item div.lcms-plexcart-addtocart-holder {
	text-align: left;
}

div.lcms-plexcart-img-container {
	width: 250px;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
}

div.lcms-plexcart-img-container img {
	width: inherit;
	margin-bottom: 10px;
}

div.lcms-plexcart-thumb {
	height: 50px;
	width: 50px;
	overflow: hidden;
	float: left;
	border: 1px solid #EEE;
	margin: 5px;
	line-height: 100%;
}

div.lcms-plexcart-thumb img {
	vertical-align: middle;
}

div.lcms-plexcart-item-details {
	padding-left: 265px;
	padding-top: 20px;
}

div.lcms-plexcart-item-details div.lcms-plexcart-price-holder {
	text-align: left;
	font-size: 14pt;
	padding: 5px 0;
	margin-bottom: 10px;	
}

div.lcms-plexcart-item-details h3 {
	font-size: 20pt;
	margin: 0;
	padding: 10px 0;
}

div.lcms-plexcart-item-details hr {
	border-collapse: collapse;
	border: none;
	border-top: 1px solid #EEE;
}

table.lcms-plexcart-checkout {
	width: 100%;
	border-collapse: collapse;
}

table.lcms-plexcart-checkout thead {
	background: #EEE;
}

table.lcms-plexcart-checkout th,table.lcms-plexcart-checkout td {
	font-size:12px;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}

table.lcms-plexcart-ci {
	width: 100%;
}

table.lcms-plexcart-ci td.label {
	width: 20%;
	text-align: right;
}

table.lcms-plexcart-ci td.input {
	width: 30%;
}

table.lcms-plexcart-ci td.input input {
	width: 90%;
	font-size: 12pt;
}

table.lcms-plexcart-ci td.input select {
	width: 90%;
	font-size: 12pt;
}

table.lcms-plexcart-select td.input {
	width: 30px;
	text-align: center;
}

div.lcms-plexcart-delivery-details h3 {
	margin: 15px 0 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid #EEE;	
}

div.lcms-plexcart-delivery-details p {
	margin: 5px 0;
	padding: 0;	
}

div.lcms-plexcart-payment-method h3 {
	margin: 10px 0 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
}

div.lcms-plexcart-payment-method p {
	margin: 5px 0;
	padding: 0;
}

div.lcms-plexcart-shipping p {
	margin: 5px 0;
	padding: 0;
}

div.lcms-plexcart-shipping h3 {
	margin: 10px 0 5px 0;
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
}

div.lcms-plexcart-pagination {
	text-align: center;
	border-top: 1px solid #CCC;
	padding: 10px;
	background: #F5F5F5;
}

h1.checkout {
	margin: 5px 0 5px 0;
	padding: 10px 0;
}

table.grid {
	width: 100%;
	border-collapse: collapse;
	font-size: 10pt;
}

table.grid thead {
	background: #EEE;
}

table.grid th, table.grid td {
	padding: 3px;
}


p.lcms-plexcart-bill-to {
	float: left;
	width: 300px;
	padding: 0;
	margin: 5px 5px 20px 5px;
}

p.lcms-plexcart-delivery-to {
	padding: 0px;
	padding-left: 310px;
	margin: 5px 5px 20px 5px;
	
}

input.lcms-plexcart-checkout-btn {
	margin-top: 20px;
}


.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

tr.alt {
	background: #F5F5F5;
}

p.lcms-plexcart-warehouse-address {
	margin: 5px;
}


#user-info ul {
	list-style: none;
	margin: 4px 10px 0 0;
	padding: 0 5px 0 0;
	float: left;
	border-right: 1px solid #CCC;
}

#user-info ul li {
	display: inline;
	margin-right: 5px;
}

#user-info p {
	margin: 2px 0;
	padding: 0;
}

#user-info form {
	padding: 0;
	margin: 0;
}

#user-info form input.username {
	width: 100px;
	margin-left: 5px;
}

#user-info form input.password {
	width: 100px;
	margin-left: 5px;
}

#cart-info a {
	display: block;
}

#cart-info span.lcms-plexcart-cart-total {
	display: block;
}

#cart-info span.lcms-plexcart-cart-items {
	display: block;
}

