div.lcms-image-form {
	padding: 10px;
}

a.lcms-content-gallery {
	background-image: url(gallery.png);
}

div.lcms-gallery-item img {
	width: auto;
	height: 100%;
}

div.lcms-gallery-item {
	width: 80px;
	height: 60px;
	float: left;
	margin: 5px;
	padding: 10px;
	text-align: center;
}