div.lcms-plaintext-form {
	padding: 10px;
}

div.lcms-plaintext-form textarea, div.lcms-richtext-form textarea, div.lcms-blog-post-form textarea {
	width: 100%;
	height: 100px;
}

a.lcms-content-plaintext {
	background-image: url(plaintext.png);
}