div.lcms-subpages-form {
	padding: 10px;
}

div.lcms-subpages-form textarea, div.lcms-richtext-form textarea, div.lcms-blog-post-form textarea {
	width: 100%;
	height: 100px;
}

a.lcms-content-subpages {
	background-image: url(subpages.png);
}