div.lcms-news-post-form {
	margin-top: 10px;
	border-top: 1px solid #CCC;
	padding-top: 10px;
}

div.lcms-news-post-form input {
	display: block;
	width: 100%;
}

div.lcms-news-form {
	padding: 10px;
}

div.lcms-news-form label {

}


a.lcms-content-news {
	background-image: url(news.png);
}